div.alert {
  margin:     10px 0;
  padding:      15px;
  border-radius: 4px;
}
div.alert.alert-success {
  background-color: #dff0d8;
  border-color:     #d0e9c6;
  color:            #3c763d;
}
div.alert.alert-info {
  background-color: #d9edf7;
  border-color:     #bce8f1;
  color:            #31708f;
}
div.alert.alert-warning {
  background-color: #fcf8e3;
  border-color:     #faf2cc;
  color:            #8a6d3b;
}
div.alert.alert-danger {
  background-color: #f2dede;
  border-color:     #ebcccc;
  color:            #a94442;  
}
